{% extends 'MainTemplate.html' %}

{% block Video %}

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xl-12 col-sm-6 col-md-4">
            <i></i>

            <h3>{{ name }}</h3>
            <p>{{ lastname }}</p>

        </div>
        <div class="col-xl-12 col-sm-6 col-md-4">

            <h3>{{ name }}</h3>
            <p>{{ lastname }}</p>

        </div>
            <div class="col-xl-12 col-sm-6 col-md-4">

            <h3>{{ name }}</h3>
            <p>{{ lastname }}</p>

        </div>
            <div class="col-xl-12 col-sm-6 col-md-4">

            <h3>{{ name }}</h3>
            <p>{{ lastname }}</p>

        </div>
    </div>
</div>

{% endblock %}